/* ---------------------------------------------Home pag------------------------------------------------------------e*/
header {

    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo img {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: -39px;
    margin-top: -18px;
}

ul {
    display: inline;
    list-style-type: none;
}

li {
    display: inline;
    justify-content: space-between;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #02073E;
}

a:hover {
    background-color: #123466;
    color: white;
    font-size: large;
}

.firstsection {
    text-align: center;
    margin: auto;
}

.fsection {
    color: #02073E;
    width: 817px;
    height: 150px;
    letter-spacing: 1px;
    font-weight: bold 48px;
    padding-top: 10px;
    margin: auto;
    line-height: 40px;
}

#button {
    width: auto;
    height: auto;
    background-color: #0A8080;
    border-radius: 5%;
    color: white;
    font-weight: bold 18px;
    padding: 6px;

}

.secondsection {
    margin-top: 347px;
    text-align: center;
    background-color: #FFF5ED;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logos {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-around;
}

.homeicons {
    display: grid;
}

.Grow h2 {
    color: #0F2137;
    font-weight: bold 34px;
    letter-spacing: 0.5px;

}

.Grow p {
    color: #0F2137;
    font-size: 12px;
}

.logos p {
    font-size: 12px;
}

.logos img {
    width: 40px;
    height: 40px;
}

.logos h5 {
    margin-top: 4px;
}

.accounts p:last-of-type {
    color: #7E8896;
    margin-top: -17px;
    margin-left: -250px;
    font-size: small;
}

.accounts p {
    color: #0F2137;
    font-size: medium;
}

.accounts hr {
    margin-left: 300px;
    margin-right: 300px;
}

.companys {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.companys img {
    width: 80px;
    height: 30px;
}


.superheros {
    text-align: center;
    color: #0F2137;
}

.superheros h2 {
    letter-spacing: 0.5px;
}

.charachters {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.charachterimgs {
    width: 15px;
    height: 15px;
    display: flex;
    gap: 20px;
}

.charachters h2 {
    color: #0F2137;
    font-weight: bold;
}

.charachters p {
    color: #23538e;
    font-weight: bold;
}



.charachter1 {
    width: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.charachter1 img {
    width: 100%;
}

.services {
    text-align: center;
    color: #0F2137;

}

.services h2 {
    letter-spacing: 0.5px;
}

.services p {
    margin-top: -20px;
}

.otherservices img {
    width: 8%;
}

.otherservices {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.forthsection img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.forthsection p {
    font-size: 16px;
    opacity: .7;
    color: #23538e;
    font-weight: bold;
}

.forthsection a {
    margin-top: 20px;
}

.forthsection {
    margin-top: 30px;
    background: #F9FAFC;
    padding: 30px 0;
}


.ourservice {
    display: flex;
    justify-content: space-around;
}

.textservice {
    margin-left: 60px;
    margin-top: 40px;
}

.medical {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.life {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ourservice .icons {
    width: 20px;
    height: 20px;
}

.Populartext {
    text-align: center;
}

.populartext h2 {
    letter-spacing: O.5x;
    color: #0F2137;

}

.Popular {
    display: flex;
    justify-content: space-around;


}

.Popular h4 {
    color: #0F2137;
    text-align: start;
}

.Popular p {
    text-align: start;
    font-size: small;
    color: #0F2137;
}

.post4 h4 {
    color: aliceblue;
    margin-top: -50px;
    margin-left: 30px;

}

.Popular {
    padding-left: 80px;
    padding-right: 80px;
}

.postimage {
    justify-content: space-evenly;
    width: 300px;
    height: 150px;
}

.lastone {
    background-image: url(imgs/background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subscribeus h4 {
    color: #0F2137;
    font-weight: bold;
    font-size: 25px;
    margin-left: 60px;
}

.subscribeus p {
    color: #343D48;
    margin-top: -20px;
    margin-left: 60px;
}

.emailhome {
    background-color: #E6E6E6;
    border-radius: 5%;
    height: 40px;
    width: 400px;
    margin-left: -130px;
}

.buttonhome {
    height: 45px;
    width: 100px;
    border-radius: 5%;
    background-color: #DB4A87;
    margin-left: -140px;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h5 {
    display: flex;
    font-size: medium;
}

.footer a {
    margin-left: -12px;
    margin-top: -10px;
}

.footer img {
    width: 15px;
    height: 15px;
}

.footerlogo img {
    width: 60px;
    height: 60px;
    margin-left: -44px;
    margin-bottom: -65px;
}

.footerlogo {
    margin-top: -80px;
    padding-top: 80px;
}

/* ---------------------------------------------- Support page---------------------------------------------------*/
.callus {
    display: flex;
    justify-content: center;
    gap: 100px;


}

.callus img {
    width: 350px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}

.support {
    margin-top: 50px;
    display: grid;
    gap: 25px;
    width: 500px;
    text-align: center;
}

.support div {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;

}

.support textarea {
    height: 90px;
}

.support button {
    align-self: flex-start;
    background-color: #0A8080;
    width: 150px;
    color: black;
}

.ourcontacts {
    display: flex;
    justify-content: space-around;
}

.ourcontacts img {
    width: 350px;
    height: 400px;

}

.allcontacts {
    display: grid;
    height: 200px;
    margin-top: 110px;

}

.contacts {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
}

.contacts img {
    width: 20px;
    height: 20px;
}

.contacts p {
    letter-spacing: 7PX;
    font-size: 10px;
}

/*------------------------------------------------About Us page----------------------------------------------------*/
.aboutus {
    margin-top: 70px;
}

.abouthead {
    text-align: center;
    color: #02073E;
    letter-spacing: 0.9px;
}

.abouthead p {
    font-size: larger;
}

.countainer {
    display: flex;
    justify-content: space-between;


}

.countainer img {
    width: 200px;
    height: 200px;
    margin-right: 293px;
}

.countainer p {
    align-items: center;
    font-size: larger;
    margin-left: 290px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.secondinabout {
    margin-top: 90px;
}

.meetourteam h2 {
    text-align: center;
}

.thirdinabout {
    text-align: center;
    color: #02073E;
    letter-spacing: 0.9px;
}

.aboutservises {
    display: flex;
    justify-content: space-around;
}

.aboutservises img {
    width: 200px;
    height: 200px;
    margin-left: -450px;
}

.aboutservises p {
    font-size: larger;
    margin-left: 100px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.forthinabout {
    text-align: center;
    margin-top: 70px;
}


.lastinabout img {
    width: 200px;
    height: 200px;
    margin-left: -450px;
}

.lastinabout h2 {
    text-align: center;
    color: #02073E;
    letter-spacing: 0.9px;
}

.choseus {
    display: flex;
    justify-content: space-around;
}

.choseus p {
    font-size: larger;
    letter-spacing: 0.5px;
    margin-top: 60px;
}

/*--------------------------------------------------advetise page -------------------------------------------------*/
.firstinadvertise {
    text-align: center;
    margin-top: 80px;
}

.advertise {
    display: flex;
    justify-content: space-around;
}

.advertise img {
    width: 200px;
    height: 200px;
    margin-left: -450px;
}

.advertise p {
    margin-top: 70px;
    font-size: larger;
}

.secondinadvertise {
    text-align: center;
    margin-top: 90px;
}

.advertisewithus {
    display: flex;
    justify-content: space-around;
}

.advertisewithus img {
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

.advertisewithus p {
    font-size: larger;
    margin-left: -90px;
}

.thirdinadvertise {
    text-align: center;
    margin-top: 90px;
}

.advertising-options {
    display: flex;
    justify-content: space-around;
}

.advertising-options img {
    width: 200px;
    height: 200px;
    margin-left: -450px;
}

.advertising-options p {
    margin-top: 40px;
}

.lastinadvertise {
    margin-top: 80px;
    text-align: center;
}

.inputadvertise {
    place-items: center;
    display: grid;
    gap: 15px;
}

.inputadvertise input {
    width: 30%;
}

.inputadvertise button {
    width: 150px;
    border-radius: 15px;
    background-color: #DB4A87;
}